* {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}

body {
    background-color: rgb(0, 0, 0);
}
.navbar {
    background-color: BLACK;
    color: lime;
    height: 10vh;
    width: 100%;
    padding: 2vh;
    /* opacity: 0.3; */
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    font-size:4vh;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: lime;
    font-size: medium;
}
input{
    height: 2.5vh;
    width: 26vw;
}
.results{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.section {
    /* margin-top: 5vh; */
    width: 90%;
    margin: 3vh 40vh;
    padding: 2vh;
    background-color: rgb(104, 228, 222);
    display: flex;
    justify-content: center;
    align-items: center;
   
    gap: 2vh;
    
}
.hero {
    height: 70vh;
    width: 100%;
    background-color:lightgrey;
    position: relative;
    /*dont need flex to align in static way*/
    /* z-index:-1; */
    margin: 0 auto;
    padding-top: 0px; /*to adjust with navbar*/ 
    margin-bottom: 10vh ;
}   

.card {
    height: 50vh;
    width: 30vw; 
    margin: 3vh;
    padding: 3vh;
    background-color: rgb(190, 105, 233);

    position: absolute;
    top: 50%;   
    left:55%;
    transform: translateY(-50%);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
    /* z-index: 2; */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 3vh;
}
.banner1 {
    width: 100%;
    height: 40vh;
    background-color: #96a8df;
    color: black;
    
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align content to the left */
    /* z-index: 1; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.banner2{
    width: 100%;
    height: 40vh;
    background-color: rgb(9, 34, 75);
    color:white;
    display: flex;
    align-items: center;
    justify-self: flex-start;
    
}
.banner-content{
    height: 40vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 5vh;
    margin: 20vh;
    font-size:1.5em;
}

/* .banner-text {
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow:hidden;
    text-overflow: ellipsis;
    max-height: 15em; 
    transition: max-height 0.5s ease, -webkit-line-clamp 0.5s ease;
    font-size: medium;
} */

.view-btn {
    /* display: block; */
    margin: 10px auto 0;
    padding: 10px 20px;
    /* background-color: transparent; */
    color: blue;
    border: none;
    border-radius: 4px;
    /* cursor: pointer; */
    /* position: relative; Ensure it is properly positioned */
    /* z-index: 3; Ensure it is above the banner content */
}
.viewbtn{
    width:100px ;
    padding: 10px;
    /* margin: 10px; */
    box-sizing: border-box;
}
.details{
    padding:0 200px;
}
footer {
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}
